<!-- 우측 하단 풋터 영역 -->
<div class="footer">
    <div class="pull-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Naver corp &copy; 2014-2018
    </div>
</div>